.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f9f9f9;
    height: 150px;
    box-sizing: border-box;
}

.navbar ul li {
    list-style: none;
    display: inline;
    margin-right: 30px;
}

.navbar li a {
    text-decoration: none;
    color:#000;
    opacity: 0.8;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: color 0.2s ease-out, border 0.2s ease-out;
}

.navbar li a:hover {
    opacity: 1;
    border-bottom: 2px solid #604fff;
    color: #604fff;
}

.navbar .logo {
    width: 15vh;
    height: 15vh;
    background: url('../../assets/images/comsentimento_simbolo-01.png') no-repeat;
    background-size: 100% 100%;
}